h1 {
  margin: 15px auto 40px 10px;
  text-align: center;
}
h2 {
  margin: 0 auto 5px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: gray;
  display: block;
  margin: 0 auto 25px;
  border-color: lightgray;
  font-size: 105%;
}
.container {
  display: block;
  margin: 70px auto 15px;
  background: lightblue;
  max-width: 550px;
  max-height: 495px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: sans-serif;
}

.city {
  display: flex;
  margin: 0 0 0 5px;
  max-width: 540px;
  justify-content: space-between;
  border-bottom: 1px dashed lightgray;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 200%;
  font-weight: bolder;
}

.time small {
  font-size: 50%;
  vertical-align: middle;
}
.date {
  font-size: 90%;
  opacity: 50%;
}

footer {
  text-align: center;
  font-size: 85%;
  opacity: 50%;
}
